.float-r {
  float: right;
}
.ws-nw {
  white-space: nowrap;
}
.img-block {
  align-items: center;
}
.fade-l {
  color: #aaa;
}
.cursor-p {
  cursor: pointer;
}
.hide {
  display: none;
}
.main-sidebar {
  background-color: #323584;
}

.sidebar a {
  color: #fff !important;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #f4f4f4 !important;
  color: #323584 !important;
}
